<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('layout') %>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">E-Learning System</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-success btn-lg" href="#" role="button">สมัครเรียน</a>
            </div>
            <h3 align="center">คอร์สเรียน</h3>
            <div class="row">
                <% Object.values(classes).forEach(function(classed){ %>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= classed.title %>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= classed.instructor %>
                                </h6>
                                <p class="card-text">
                                    <%= classed.description %>
                                </p>
                                <a href="#" class="card-link btn btn-primary">เข้าเรียน</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>

</html>